.home{
    min-height: 100vh;
    background-image:linear-gradient(90deg,#000000ce,#000000cc), url('./image/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.seconday{
    color: #ffd900;
}

.menu{
    position: fixed;
    z-index: 100;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.home-content{
    max-width: 90%;
    margin:auto;
}

.menuContent{
    min-height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.profilePic{
    background: #242323;
    transition: 0.5s ease-out all;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -webkit-transition: 0.5s ease-out all;
    -moz-transition: 0.5s ease-out all;
    -ms-transition: 0.5s ease-out all;
    -o-transition: 0.5s ease-out all;
}
.close.profilePic{
    transform: translate3d(0, 0%, 0);
    -webkit-transform: translate3d(0, 0%, 0);
    -moz-transform: translate3d(0, 0%, 0);
    -ms-transform: translate3d(0, 0%, 0);
    -o-transform: translate3d(0, 0%, 0);
    transition: 0.5s ease all;
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
}


.profilePic img{
    /* width: 180px;
    height: 180px; */
    border: #ffd900 5px ridge;
    
}

.navContent{
    background: #171616;
}

.navLining:hover{
    padding:0.2rem 0.4rem;
    border: 2px #ffd900 dashed;
    transition: 0.5s ease all;
    -webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
}

.menu.close{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.menu.close .line:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);

}
.menu.close .line:nth-child(2){
    display: none;
}
.menu.line:nth-child(2){
    display: none;
}
.menu.close .line:nth-child(3){
    transform: rotate(-45deg)  translate(3px, -4px);
    -webkit-transform: rotate(-45deg)  translate(3px, -4px);
    -moz-transform: rotate(-45deg)  translate(3px, -4px);
    -ms-transform: rotate(-45deg)  translate(3px, -4px);
    -o-transform: rotate(-45deg)  translate(3px, -4px);
}

.menu .line{
    transition: all 0.5s ease-out;
}
/* about */

.about{
    background-color: #000000e7;
    min-width: 95%;
    min-height: 100vh;
}
.resume{
    color: white;
    background: linear-gradient(90deg,transparent,#ffd900,orange);
    font-size: 1.5rem;
    width: fit-content;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-left: turquoise 2px solid;
    padding: 2px;
    box-shadow: inset 1px 2px 5px 18px rgba(0, 0, 0, 0.719);
}
.resume:hover{
    border-right: turquoise 2px solid;
    border-left: none;
    
}

.programming li{
    letter-spacing: 2px;

}
.programming li:hover{
    color: #ffd900;
    transform: translate(5px, 0);
    -webkit-transform: translate(5px, 0);
    -moz-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    -o-transform: translate(5px, 0);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.navLining{
    transform: translate3d(200px,0,0);
    -webkit-transform: translate3d(200px,0,0);
    -moz-transform: translate3d(200px,0,0);
    -ms-transform: translate3d(200px,0,0);
    -o-transform: translate3d(200px,0,0);
    transition: all 0.8s ease-out;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
}
.menuContent.close .navLining{
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transition: all 0.8s ease-out;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
}


@media screen and (max-width:770px) {
    .navContent{
        height: 72vh;
    }
}